/* Login */
#frm {
  border: solid gray 1px;
  width: 25%;
  border-radius: 2px;
  margin: 120px auto;
  background: white;
  padding: 50px;
}

#btn {
  color: #fff;
  background: #337ab7;
  padding: 7px;
  margin-left: 70%;
}

.header-container {
  display: inline-block;
  background-color: #004596;
  position: fixed;
  z-index: 999;
  bottom: 0;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.6);
}

.nav-container ul {
  display: flex;
  background-color: #004596;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.list_item a {
  text-decoration: none;
  margin-top: 2rem;
  padding: 10px;
  width: 100%;
}

.nav-container ul li {
  display: block;
}

.nav-container ul li a {
  color: #fff;
  display: block;
}

.menu_btn {
  position: absolute;
  left: 90%;
  bottom: 50%;
  transition: all 500ms ease-in-out;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.menu_btn i {
  font-size: 50px;
  color: #8EACCD;
}

#menu_bar {
  display: none;
}

.menu_bar {
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: #000;
  font-size: 22px;
  z-index: 9999;
}

#menu_bar:checked ~ .header-container {
  left: -200px;
}

@media only screen and (max-width: 850px) {
  .menu_btn {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #menu_bar:checked ~ .header-container {
    left: -100%;
  }
}
.intro-box {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #8EACCD;
}

.intro-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.intro-text h1 {
  margin-bottom: 2rem;
}

.intro-text p {
  margin-left: 1.5rem;
  font-size: 18px;
}

.contact_wrap {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.intro_btn,
.readBtn-wraper {
  background: none;
  outline: none;
  border: none;
  padding: 1.3rem;
  text-align: start;
  width: -moz-fit-content;
  width: fit-content;
}

.readBtn-wraper {
  width: 100%;
  text-align: end;
}

.bg-rotate,
.read-btn {
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 15px;
  transition: all 500ms ease-in-out;
}

.bg-rotate::before,
.read-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #F9F3CC;
  z-index: -1;
  transform: rotate(8deg);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.6);
}

.read-btn {
  color: #fff;
}

.read-btn::before {
  background: #004596;
  transform: rotate(0deg);
}

.bg-rotate:hover::before {
  transform: rotate(0deg);
}

.read-btn:hover::before {
  transform: rotate(8deg);
}

.introFoto-container {
  max-width: 100%;
  position: relative;
  top: 20%;
  transform: rotate(20deg);
}

.intro-foto {
  width: 45vw;
  filter: brightness(80%);
}

/*intro info*/
.intro-info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.info-wraper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.info-foto-container {
  display: flex;
  justify-content: center;
  width: 40vmax;
  background-color: rgb(132, 217, 20);
}

.intro-info-container img {
  width: 100%;
  background-color: rgb(177, 8, 50);
}

.info-text {
  width: 40%;
  padding: 1.3rem;
}

.info-text h1 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.info-text p {
  margin-top: 1rem;
}

.Read-btn {
  background-color: #E7EDF9;
}

@media only screen and (max-width: 850px) {
  .intro-box {
    opacity: 0.8;
  }
  .introFoto-container {
    z-index: -1;
    top: 0;
  }
  .intro-foto {
    position: absolute;
    top: 15vmin;
    right: -10vw;
    width: 100vmin;
    opacity: 0.5;
    filter: brightness(50%);
  }
  .info-text {
    width: 100%;
  }
  .info-wraper {
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    border-bottom: 2px solid #8EACCD;
    border-top: 2px solid #8EACCD;
  }
  .gif {
    display: none;
  }
}
.contact-container {
  display: flex;
  justify-content: flex-start;
  background-image: url(../img/security_camera2.jpg);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: repeat;
}

.form_container {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.form_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E7EDF9;
  z-index: -1;
  opacity: 0.8;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.form_container h1 {
  padding: 10px;
}

.form_container form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.form_container select,
.form_container input {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  border-radius: 50px;
  width: 40%;
}

.form_container textarea {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

/* Chrome, Safari, Edge, Opera */
/*hide the errows of the input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E7EDF9;
  position: relative;
}

.page-container {
  max-width: 100%;
  height: auto;
  position: relative;
}/*# sourceMappingURL=main.css.map */