@import "./pagestyle/login.scss";
@import "./pagestyle/Header";
@import "./pagestyle/intro";
@import "./pagestyle/tools";
@import"./pagestyle/extra";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: $primery_color_1;
    position: relative;
}

