
@import "./pagestyle/Header";
@import "./pagestyle/intro";
@import "./pagestyle/tools";
@import "./pagestyle/contact";
@import "./pagestyle/login";
@import "./pagestyle/info";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: $primery_color_1;
    position: relative;
}

.page-container {
    max-width: 100%;
    height: auto;
    position: relative;
}


// .hidden{
//     display: none ;
// }