/* Dashboard */
.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.overlay {
  background-color: #444444;
  position: absolute;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.5;
  z-index: 1;
}

.popups {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popup_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  font-weight: 500;
}

.form-container {
  background-color: rgb(1, 90, 205);
}

/* Button used to open the contact form - fixed at the bottom of the page */
.btn-container {
  margin: 10px;
}

.openColos-btn {
  background-color: #004596;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.openColos-btn:hover {
  opacity: 1;
}

.signout-btn-container {
  background-color: #8EACCD;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.signout-btn {
  background: #004596;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  width: 150px;
}

.popupBtn-container {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.popup-btn {
  background: #8EACCD;
  width: 100%;
  border: none;
  outline: none;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  transition: all 200ms ease-in;
  font-weight: 500;
}

/* Add some hover effects to buttons */
.popupBtn-container .pupup-btn:nth-child(1):hover {
  background-color: #D7E5CA;
  transform: scale(0.97);
}

.popupBtn-container .pupup-btn:nth-child(2):hover {
  background-color: #004596;
  color: #fff;
  transform: scale(0.97);
}

/* Add styles to the popup form container */
.form-container {
  z-index: 3;
  width: 50%;
  margin: auto;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
}

.form-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-container label {
  width: 100%;
  font-size: 18px;
  position: relative;
}

.form-container input,
.form-container select {
  margin: 5px;
  font-weight: 400;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 4px;
  word-wrap: break-word;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 90%;
}

.form-container input::-moz-placeholder {
  font-size: 15px;
}

.form-container input::placeholder {
  font-size: 15px;
}

.form-container textarea {
  outline: none;
  resize: none;
  margin: 10px;
  padding: 4px;
  font-weight: 500;
  width: 80%;
}

.tickets-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.table-content,
.table-content2 {
  overflow: auto;
  max-width: 110vmax;
  display: block;
}

.table-content2 {
  width: -moz-fit-content;
  width: fit-content;
}

.table-content thead,
.table-content2 thead {
  background-color: #004596;
  height: 100px;
  padding: 10px;
  color: white;
  text-align: center;
  border-bottom: 1px solid #fff;
}

.table-content tbody td,
.table-content2 tbody td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.tickets-content tr:nth-child(even) {
  background-color: #D7E5CA;
}

@media only screen and (max-width: 850px) {
  .table-content {
    width: 90vw;
  }
  .table-content2 {
    width: 60vw;
  }
  .form-container {
    width: 90%;
  }
}
@media only screen and (max-width: 650px) {
  .table-content2 {
    width: 90vw;
  }
}
.header-container {
  display: inline-block;
  background-color: #004596;
  position: fixed;
  z-index: 999;
  bottom: 0;
  top: 0;
  left: 0;
  transition: all 500ms ease-in-out;
  box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 0.6);
}

.nav-container ul {
  display: flex;
  background-color: #004596;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  padding: 10px;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.list_item a {
  text-decoration: none;
  margin-top: 2rem;
  padding: 10px;
  width: 100%;
}

.nav-container ul li {
  display: block;
}

.nav-container ul li a {
  color: #fff;
  display: block;
}

#menu_bar {
  display: none;
}

.menu_bar {
  display: block;
  position: fixed;
  left: 10px;
  top: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 22px;
  z-index: 9999;
}

#menu_bar:checked ~ .header-container {
  left: -200px;
}

@media only screen and (max-width: 850px) {
  .header-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  #menu_bar:checked ~ .header-container {
    left: -100%;
  }
}
.intro-box {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #8EACCD;
}

.intro-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-text {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.intro-text h1 {
  margin-bottom: 1rem;
}

.intro-text p {
  font-size: 18px;
  padding: 10px;
  line-height: 150%;
}

.contact_wrap {
  display: flex;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.intro_btn,
.readBtn-wraper {
  background: none;
  outline: none;
  border: none;
  padding: 1.3rem;
  text-align: start;
  width: -moz-fit-content;
  width: fit-content;
}

.readBtn-wraper {
  width: 100%;
  text-align: end;
}

.bg-rotate,
.read-btn {
  text-decoration: none;
  text-align: center;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 15px;
  transition: all 500ms ease-in-out;
}

.readbtn_container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.readBtnInfo {
  color: #004596;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  background: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #004596;
}

.bg-rotate::before,
.read-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #F9F3CC;
  z-index: -1;
  transform: rotate(8deg);
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.6);
}

.read-btn {
  color: #fff;
}

.read-btn::before {
  background: #004596;
  transform: rotate(0deg);
}

.bg-rotate:hover::before {
  transform: rotate(0deg);
}

.read-btn:hover::before {
  transform: rotate(8deg);
}

.introFoto-container {
  max-width: 100%;
  position: relative;
  top: 20%;
  transform: rotate(20deg);
}

.intro-foto {
  width: 45vw;
  filter: brightness(80%);
}

@media only screen and (max-width: 850px) {
  .intro-box {
    position: relative;
    opacity: 0.8;
  }
  .introFoto-container {
    z-index: -1;
    bottom: 0;
  }
  .intro-foto {
    position: absolute;
    top: 0vmin;
    right: 0vw;
    opacity: 0.5;
    z-index: 1;
    filter: brightness(50%);
  }
  .info-text {
    min-width: 100%;
  }
  .info-wraper {
    padding: 20px;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    border-bottom: 2px solid #8EACCD;
    border-top: 2px solid #8EACCD;
  }
  .gif {
    display: none;
  }
}
.contact-container {
  display: flex;
  justify-content: flex-start;
  background-image: url(../img/security_camera2.jpg);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: repeat;
}

.contact_form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.contact_form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E7EDF9;
  z-index: -1;
  opacity: 0.8;
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

.form_container h1 {
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 3px solid #8EACCD;
  width: 80%;
}

.form_container .loginTitle {
  text-align: center;
  padding: 20px;
}

.form_container form {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px;
}

.form_container select,
.form_container input {
  border: none;
  outline: none;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  min-width: 20vw;
  font-size: 15px;
}

.form_container textarea {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 80%;
}

/* Chrome, Safari, Edge, Opera */
/*hide the errows of the input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 850px) {
  .contact-container {
    justify-content: center;
  }
  .contact_form {
    width: 100%;
  }
  .contact_form::after {
    border-radius: 0;
  }
}
.login-container {
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/security_camera2.jpg);
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: repeat;
}

.login_form {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.login_form::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #E7EDF9;
  z-index: -1;
  opacity: 0.8;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
}

.login_form input {
  width: 80%;
}

.login_form a {
  text-decoration: none;
}

.login_form p {
  margin-top: 20px;
}

.submit_btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.submit_btn button {
  background-color: #8EACCD;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  width: 40%;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 50ms ease-in-out;
}

.submit_btn button:active {
  transform: scale(0.98);
}

@media only screen and (max-width: 850px) {
  .login-container {
    justify-content: center;
  }
  .login_form {
    width: 100%;
  }
  .login_form::after {
    border-radius: 0;
  }
  .login_form input {
    width: 80%;
  }
}
/*intro info*/
.intro-info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.info-wraper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin-top: 4%;
}

.info-foto-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vmax;
  height: auto;
  padding: 20px;
}

.intro-info-container img {
  width: 100%;
  border-radius: 20px;
}

.info-text {
  width: 40%;
  padding: 1.3rem;
  word-wrap: break-word;
  font-size: 17px;
}

.info-text h1 {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #000;
  width: 100%;
}

.info-text p {
  margin-top: 1rem;
  padding: 10px;
  line-height: 150%;
  color: rgb(100, 98, 98);
}

.Read-btn {
  background-color: #E7EDF9;
}

.info-text h3 {
  margin: 10px;
  width: 100%;
}

.info-text ul li {
  margin-top: 10px;
  margin-left: 5%;
  color: rgb(100, 98, 98);
}

.info-text b {
  font-size: 20px;
  color: #000;
}

.toggle-text {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #E7EDF9;
  position: relative;
  background-color: #E7EDF9;
}

.page-container {
  max-width: 100%;
  height: auto;
  position: relative;
}

.adminFoto_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.adminFoto_container .adminFoto {
  width: 30vw;
  height: 30vw;
  filter: brightness(80%);
  border-radius: 20px;
}

@media only screen and (max-width: 650px) {
  .adminFoto_container {
    position: absolute;
    z-index: -1;
    padding: 0;
  }
  .adminFoto_container .adminFoto {
    width: 100%;
    height: 100%;
    border-radius: 0;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.5;
    filter: brightness(60%);
  }
}/*# sourceMappingURL=main.css.map */