@import "./tools"; 
/* Dashboard */
.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.popups{
  width: 100%;
  height: 100%;
  
 }
.Popup_wrapper {
  display:flex;
  justify-content: center;

}
.form-container{
  background-color: rgb(1, 90, 205);
}

/* Button used to open the contact form - fixed at the bottom of the page */
 .btn-container{
  margin: 10px;
}
.openColos-btn {
  background-color: $primery_color_2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.openColos-btn:hover {
  opacity: 1;
} 
.signout-btn-container{
  background-color: $primery_color_3;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;  
  
}
.signout-btn{
  background: $primery_color_2;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  width: 150px;

}
/* Add styles to the form container */
.form-container {
    width: 70%;
    margin: auto;
    background-color: white;
    border: 3px solid #f1f1f1;
    top: 10%;
    position: relative;
    padding: 10px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=email] {
  color:#444444;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */


//here is the tables desgin
.tickets-content{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.table-content{
  display: inline;
  background-color: #04AA6D;
}

.table-content thead{
  background-color: $primery_color_2 ;
   height: 100px;
   padding: 10px;
   color: white;
   text-align: center;
   border-bottom: 1px solid #fff;
}
.table-content tbody td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
// @media only screen and (max-width: 850px) {
//   .table-container{
//     width: fit-content;
//   }
// }