@import "./tools"; 
/* Dashboard */
.table-container{
  display: flex;
  flex-direction: column;
  width: 100%;

  
}
.overlay{
  background-color: #444444;
  position: absolute;
  height: 100vh;
  min-height: 100%;
  width: 100%;
  top: 0;
  opacity: 0.5;
  z-index: 1;
}
#ticketlist{
  position: relative;
}
.popups{

  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
 
 }
.Popup_wrapper {
  display:flex;
  justify-content: center;
  width: 100%;
  height: auto;
  font-weight: 500;

}
.form-container{
  background-color: rgb(1, 90, 205);
}

/* Button used to open the contact form - fixed at the bottom of the page */
 .btn-container{
  margin: 10px;
}
.openColos-btn {
  background-color: $primery_color_2;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}
.openColos-btn:hover {
  opacity: 1;
} 
.signout-btn-container{
  background-color: $primery_color_3;
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.signout-btn{
  background: $primery_color_2;
  outline: none;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  width: 150px;
  text-align: center;
  cursor: pointer;
}
.popupBtn-container{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.popup-btn{
   background: $primery_color_3;
   width: 100%;
   border: none;
   outline: none;
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
   transition: all 200ms ease-in;
   font-weight: 500;

}
/* Add some hover effects to buttons */
.popupBtn-container .pupup-btn:nth-child(1):hover{
  background-color: $secondary_color_1;
  transform: scale(0.97);
}
.popupBtn-container .pupup-btn:nth-child(2):hover{
  background-color: $primery_color_2;
  color: #fff;
  transform: scale(0.97);
}
//end buttons styling

/* Add styles to the popup form container */
.form-container {
    z-index: 3;
    width: 50%;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.form-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 
}
// placeholder="Enter an Email" 
.form-container label{
  width: 100%;
  font-size: 18px;  
  position: relative;
}


.form-container input,
.form-container select{
  margin: 5px;
  font-weight: 400;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 4px;
  word-wrap: break-word;
  border: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 90%;
}
.form-container input::placeholder{
  font-size: 15px;
}
.form-container textarea{
  outline: none;
  resize: none;
  margin: 10px;
  padding: 4px;
  font-weight: 500;
  width: 80%;
}

//here is the tables desgin
.tickets-content{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.table-content,
.table-content2{
  overflow: auto;
  max-width: 110vmax;
  display: block;

 
}
.table-content2 {
  width: fit-content;
}

.table-content thead,
.table-content2 thead{
  background-color: $primery_color_2 ;
   height: 100px;
   padding: 10px;
   color: white;
   text-align: center;
   border-bottom: 1px solid #fff;
}
.table-content tbody td,
.table-content2 tbody td{
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.tickets-content tr:nth-child(even) {
  background-color: $secondary_color_1;
}
@media only screen and (max-width: 850px) {
  .table-content{
    width: 90vw;
  }
  .table-content2{
    width: 60vw;
  }
  .form-container{
    width: 90%;
  }
}
@media only screen and (max-width: 650px) {
  .table-content2{
    width: 90vw;
  }

}