
/*intro info*/

.intro-info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    // margin-top: 5%;

}
.info-wraper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
    height: 100%;
    width: 100%;
    margin-top: 4%;
    // border-radius: 24px;
   
}

.info-foto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:40vmax;
    height: auto;

}
.intro-info-container img{
    width: 100%;

}
.info-text {
    width: 40%;
    padding: 1.3rem;
    word-wrap: break-word;
    font-size: 17px;
}
.info-text h1 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #000;
    width: 100%;
}
.info-text p {
    margin-top: 1rem;
    padding: 10px;
    // width: 100%;
    line-height: 150%;
    
}
.Read-btn {
    background-color: $primery_color_1;
}

.info-text h3{
    margin: 10px;
    width: 100%;
}
.info-text ul li{
    // list-style: none;
    margin-top: 10px;
    margin-left: 5%;

}
#readmore{
    display: none;
}

.info-text b{
    font-size: 20px; 
}