@import './tools';
.login-container{
    display: flex;
    justify-content: flex-end;
    background-image: url(../img/security_camera2.jpg);
    width: 100%;
    object-fit: contain;
    // background-position: center;
    background-repeat:repeat;
}
.login_form{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    z-index: 1;

}

.login_form::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primery_color_1;
    z-index: -1;
    opacity: .8;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
}
.login_form input{
    width: 80%;
}

.login_form a{
    text-decoration: none;


}
.login_form p{
    margin-top: 20px;
}
.submit_btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.submit_btn div{
    background-color: $primery_color_3;
    color:#fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 40%;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    
}
.submit_btn div:active{
    transform: scale(0.98);
}
@media only screen and (max-width: 850px) {
    .login-container{
        justify-content: center;
    }
    .login_form{
        width: 100%;
    }
    .login_form::after{
        border-radius: 0;
    }
    .login_form input{
        width: 80%;
    }
}