//colors for the body or the header
$primery_color_1 : #cbd0da;
$primery_color_2 : #004596;
$primery_color_3: #8EACCD;

// colors for buttons of hovering animatie
$secondary_color_1 : #D7E5CA;
$secondary_color_2 : #F9F3CC;